<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
</head>
<body>
    <main>
        <div class="user">
        <p>Usuario</p>
        <input type="text" class="usuario">
        </div>
        
        <div class="password">
        <p>Contraseña</p>
        <input type="password" class="contra">
        </div>
        
        <div>
        
        <input class="buttonLog" type="submit">
        
        </div>
        <p id="aviso"></p>

        <div>
            <p>no tienes una cuenta? <a href="../index.html">Registrate aqui!</a></p>
        </div>


        </main>

        <script src="../js/prentregaNicolasAsta.js"></script>
</body>
</html>

